<section class="text-lg text-left px-10 max-w-[60ch] mx-auto my-16">
  <img class="w-12 mb-6 mx-auto" src="/cangasCupLogo.webp" alt="Logo Cangas Cup" />
  <h1 class="text-4xl font-semibold text-center mb-6">
    Bienvenidos/as a la Cangas Cup Futsal 2025
  </h1>
  <p>
    ¡Vuelve<strong> la Cangas Cup Futsal!</strong> El año pasado fuimos testigos de un torneo que superó
    todas las expectativas, y esta nueva edición promete ser aún más emocionante.
  </p>
  <p>
    La villa de Cangas del Narcea se transformará nuevamente en el epicentro del fútbol sala,
    reuniendo a equipos de distintos rincones que comparten la misma pasión por este deporte.
  </p>
  <p>
    Tras el éxito del año pasado, la <strong>segunda edición</strong> se celebrará el <strong
      >13,14 y 15 de junio de 2025</strong
    >. La emoción, la competencia y el espíritu deportivo volverán a brillar en cada partido.
  </p>
  <p>
    Más que un torneo, la Cangas Cup Futsal es una celebración del compañerismo, el esfuerzo y la
    dedicación de jugadores y aficionados. ¡Prepárate para vivir una experiencia inolvidable!
  </p>
</section>
