---
interface Props {
  currentYear: string | number;
  teamId?: string | number | null;
  isPrimary?: boolean;
}
const { currentYear, teamId = null, isPrimary = false } = Astro.props;

let href = `/admin/players/addPlayer?year=${currentYear}`;
if (teamId) {
  href += `&teamId=${teamId}`;
}

const buttonClass = isPrimary
  ? 'flex items-center justify-center w-full px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-indigo-600 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-indigo-700 dark:hover:bg-indigo-500 dark:bg-indigo-600'
  : 'flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-green-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-green-600 dark:hover:bg-green-500 dark:bg-green-600'; // Color diferente para jugadores
---

<a {href} class={buttonClass}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-5 h-5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>Añadir Jugador</span>
</a>
