---
import "../../../styles/tailwind.css";
import Layout from "../../../layouts/Layout2025.astro";
import Video from "../../../components/user/2025/Video.astro";
export const prerender = true
---

<Layout
  description="Bienvenido a la Cangas Cup 2025, prometemos que no te arrepentirás"
  title="Cangas Cup Futsal 2025"
>
<main>
  <Video class="no-select" />
</main>
</Layout>

<style>
  body {
    background-color: #2C3E50;
  }
</style>