---
import Layout from '../../../layouts/Layout2025.astro';
import Reglamento from '../../../components/user/2025/Reglamento.md';
---

<Layout description="Reglamento Cangas Cup 2025 " title="Reglamento - Cangas Cup Futsal 2025">
  <main>
    <section class="text-gray-400 bg-blue-950 body-font mt-20 ">
        
      <div class="container mx-auto flex px-10 py-4 md:flex-col flex-col items-center mt-24">
         <a
              href="/reglamento2025.pdf" 
              download="Reglamento_CangasCup_2025.pdf" 
              class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out mb-8"
       >
              Descargar Reglamento en PDF
     </a>
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
        >
        </div>
        <div class="text-center">
          <h1 class="text-4xl font-bold mb-4 text-center text-white">
            REGLAMENTO II CANGAS CUP MANIN FÚTBOL SALA 2025
          </h1>
          <Reglamento />
        </div>
        <a
              href="/reglamento2025.pdf" 
              download="Reglamento_CangasCup_2025.pdf" 
              class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out mb-8"
       >
              Descargar Reglamento en PDF
     </a>
      </div>
      
    </section>
  </main>
</Layout>
