---
export interface Props {
  years: string[];
}

const { years } = Astro.props;
---

<select id="year-selector" class="year-selector flex items-center">
  <option value="">Selecciona año</option>
  {years.map((year) => (
    <option value={year}>{year}</option>
  ))}
</select>

<style>
  .year-selector {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-primary);
  }
</style>

<script>
  function onYearChange(event: Event) {
    const target = event.target as HTMLSelectElement;
    const selectedYear = target.value;
    if (selectedYear) {
      // Cierra el menú móvil si está abierto
      const menuMobileContent = document.getElementById('menuMobileContent');
      if (menuMobileContent && menuMobileContent.classList.contains('open')) {
        menuMobileContent.classList.remove('open');
        document.body.classList.remove('overflow-hidden');
      }
      // Guarda el año seleccionado en localStorage
      localStorage.setItem('selectedYear', selectedYear);
      // Redirige a la ruta correspondiente
      window.location.href = `/user/${selectedYear}`;
    }
  }

  const yearSelector = document.getElementById('year-selector');
  if (yearSelector) {
    yearSelector.addEventListener('change', onYearChange);
  }
</script>
