<section class="relative mt-[75px] px-4">
  <img
    src="/cartelCangasCup2026.jpeg"
    alt="Cartel Cangas Cup 2026"
    class="w-full max-w-sm md:max-w-md h-auto mx-auto rounded-lg shadow-lg"
  />
</section>