---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
import Header from '../components/admin/Header.astro';
import '@fontsource-variable/onest';
import ButtonUp from '../sections/ButtonUp.astro';
import { supabase } from '../lib/supabase';

const accessTokenCookie = Astro.cookies.get('sb-access-token');
const refreshTokenCookie = Astro.cookies.get('sb-refresh-token');

if (!accessTokenCookie || !refreshTokenCookie) {
  return Astro.redirect('/admin/signin');
}

const {
  data: { session },
  error,
} = await supabase.auth.setSession({
  refresh_token: refreshTokenCookie.value,
  access_token: accessTokenCookie.value,
});

if (error || !session) {
  console.error('Error al renovar sesión:', error?.message || 'Sesión no encontrada');
  Astro.cookies.delete('sb-access-token', { path: '/' });
  Astro.cookies.delete('sb-refresh-token', { path: '/' });
  return Astro.redirect('/admin/signin');
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="icon" href="/cangasCupLogo.webp" />
    <title>{title}</title>
  </head>
  <body>
    <Header class="mb-4" />
    <script>
      window.__ACCESS_TOKEN__ = '${session.access_token}';
    </script>
    <slot />
    <ButtonUp />
    <style is:global>
      :root {
        color-scheme: dark;
      }
      html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        background: #9333ea;
      }
      p {
        color: #000;
        line-height: 1.4;
        margin-bottom: 1em;
        font-weight: 100;
        font-size: 0.9em;
        letter-spacing: 0.5px;
      }
      p strong {
        color: white;
        font-weight: 700;
      }
    </style>
  </body>
</html>
