---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
import Header from '../components/user/2024/Header.astro';
import Footer from '../components/user/2024/Footer.astro';
import '@fontsource-variable/onest';
import ButtonUp from '../sections/ButtonUp.astro';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Solo los mejores dejan huella. Cangas Cup, mucho más que un torneo."
    />
    <title>Maratón Cangas Cup</title>
    <link rel="icon" href="/cangasCupLogo.webp" />
    <meta name="google-site-verification" content="AetL81-l7UsM4ebliZMB-ToHBXsmjGtvkqahgho87gI" />
    <meta property="og:title" content="Maratón Cangas Cup" />
    <meta
      property="og:description"
      content="Solo los mejores dejan huella. Cangas Cup, mucho más que un torneo."
    />
    <meta property="og:image" content="https://cangascup.es/cangasCupLogo.webp" />
    <meta property="og:url" content="https://cangascup.es/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Cangas Cup" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Maratón Cangas Cup" />
    <meta
      name="twitter:description"
      content="Solo los mejores dejan huella. Cangas Cup, mucho más que un torneo."
    />
    <meta name="twitter:image" content="https://cangascup.es/cangasCupLogo.webp" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header class="mb-4" />
    <slot />
    <Footer />
    <ButtonUp />
    <style is:global>
      :root {
        color-scheme: dark;
      }
      html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        background: black;
      }
      p {
        color: rgb(255, 255, 255, 0.9);
        line-height: 1.4;
        margin-bottom: 1em;
        font-weight: 100;
        font-size: 0.9em;
        letter-spacing: 0.5px;
      }
      p strong {
        color: white;
        font-weight: 700;
      }
    </style>
  </body>
</html>
